<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>exportTripleS</name>
        <type>plugin</type>
        <creationDate>2015-02-06</creationDate>
        <lastUpdate>2019-01-20</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://extensions.sondages.pro/export-statistics-and-database/triple-s-export/</authorUrl>
        <supportUrl>https://www.sondages.pro/contact</supportUrl>
        <version>3.0.0</version>
        <license>GNU Affero General Public License v3.0</license>
        <description><![CDATA[Export result to Triple-S XML Version 2.0 and 1.2, with fixed column for data..]]></description>
    </metadata>

    <compatibility>
        <version>2.6lts</version>
        <version>2.73</version>
        <version>3.0</version>
    </compatibility>
</config>
